{# Example autocomplete template for ProjectIssue entity #}
<div class="autocomplete-issue">
    <span class="issue-name">{{ entity.name }}</span>
    <span class="issue-project text-muted">{{ entity.project.name }}</span>
</div>
