{# @var action \EasyCorp\Bundle\EasyAdminBundle\Dto\ActionDto #}
<a href="{{ action.linkUrl }}" class="custom-template" data-custom-action="true" data-action-name="{{ action.name }}">
    {{ action.label|trans }}
</a>
